* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

button,
input {
    font: inherit;
}

button {
    border: none;
    cursor: pointer;
}

video,
canvas {
    display: block;
}